body{background-image:url(1.jpg);font-family: helvetica,arial,sans-serif;font-size:cover;padding:0;margin:0;}
a{text-decoration: none;color:red;}
.container{width:100%;margin-right: auto;}
h1{margin:0;}

.header{
	background-color:black;color:white;text-align: center;padding:10px;
}
.content{
	padding:10px;
}
.nav{
	width:180px;
	float:left;
	text-align: center;color:white;
}
.nav ul{list-style-type: none;padding:0px;text-align: center}
.main{
	width:600px;
	float=right;
	
}
.footer{
	clear:both;padding:10px;background-color: black;color:white;text-align: right;width:100%;
}
.footer a{color:white;padding:10px;}
.nav .select{
	font-weight: bold;color:white;
}
.align{
	background-color: gray;text-align:center;
}
h2{color:white;}
.align form table tr td{font-size:35px;}